<slick class="scenes-roll" dots="true" variable-width="true" adaptive-height="true" center-mode="true" infinite="false" arrows="true"
       slides-to-show="5" touch-move="true" slides-to-scroll="1" autoplay="false" data="scenes" css-ease="linear"
       init-onload="true">
  <div class="scenes-roll-item" ng-repeat="scene in scenes track by $index">
    <div class="scene-roll-holes">
      <div class="scene-roll-hole-outer" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <div class="scene-roll-hole-inner"></div>
      </div>
    </div>
    <div class="scenes-roll-item-placeholder">
      <div class="scene-name">{{scene}}</div>
    </div>
    <div class="scene-roll-holes">
      <div class="scene-roll-hole-outer" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
        <div class="scene-roll-hole-inner"></div>
      </div>
    </div>
  </div>
</slick>
<a class="scene-changer" ng-click="onSceneChange()" ng-show="false">.</a>

<div class="scene-info">
  <div class="scene-info-item"><span class="scene-info-label">Location: </span><span>{{location ? location : '--'}}</span></div>
  <div class="scene-info-item"><span class="scene-info-label">Time: </span><span>{{time ? time : '--'}}</span></div>
  <div class="scene-info-item"><span class="scene-info-label">Duration: </span><span>{{duration ? duration : '--'}}</span></div>
</div>

<div class="scene-actors-container">
  <ul class="actors-list">
    <li class="actors-list-item" ng-repeat="(actorName, actorInfo) in actors">
      <div class="actors-list-item-label" title="Expand all {{actorName}}'s dialogues" ng-click="expandDialogues(actorName)">
        <div class="actor-icon" ng-style="{background:'{{actorInfo.color}}'}">{{actorInfo.initials}}</div>
        <span class="actor-name" ng-style="{color:'{{actorInfo.color}}'}">{{actorName}}</span>
      </div>
      <div class="actor-contact-icons">
        <span class="glyphicon glyphicon-earphone"></span>
        <span class="glyphicon glyphicon-envelope"></span>
      </div>
    </li>
  </ul>
</div>

<div class="scene-dialogues-container">
  <div class="dialogue-list">
    <div class="dialogue-list-item" ng-repeat="dialogue in dialogues" data-actor="{{dialogue.actor}}">
      <div class="actor-icon-container">
        <div class="actor-icon" ng-style="{background:'{{actors[dialogue.actor].color}}'}">{{actors[dialogue.actor].initials}}</div>
      </div>
      <div class="dialogue-box-container">
        <div class="dialogue-box alert" ng-style="{background:'{{actors[dialogue.actor].color}}'}" ng-click="expandDialogue($index)">{{dialogue.content}}</div>
      </div>
    </div>

  </div>
</div>
