.dialogue-list-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 1rem;
}

.actor-icon-container {
  display: table-cell;
  width: 5rem;
  height: 4rem;
  vertical-align: middle;
}

.dialogue-box-container {
  display: table-cell;
  vertical-align: middle;
}

.dialogue-box {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin: 0 !important;
}

.dialogue-list-item.expanded .dialogue-box {
  white-space: inherit;
}
