.script2bit-shell {
  background: #111;
  color: white;
  height: 5rem;
  padding: 1rem;
  margin-bottom: 0 !important;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.logo-image {
  background-color: white;
  height: 3rem;
  width: 3rem;
}

.logo-title {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  line-height: 3rem;
  vertical-align: middle;
  margin-left: 1rem;
  font-family: fantasy;
}

.script2bit-toolbar {
  display: inline-block;
  float: right;
  margin-top: -0.5rem;
}

.script2bit-toolbar span {
  font-size: 1.5rem;
  font-weight: bold;
}
